.order-history-container {
    margin: 100px auto 20px auto;
    padding: 20px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 15px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.tabs button:hover {
    background-color: #bbb;
}

.tabs button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}


.order-section {
    margin-top: 20px;
}

.order-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-detail {
    margin-bottom: 5px;
}

.product-detail span {
    font-weight: bold;
}
